body {
  margin: 0 auto;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
}

main {
  height: 35%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#light-buttons {
  display: flex;
  justify-content: space-between;
}

#array-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fieldError {
  color: red;
  font-size: 12px;
}